.trfade-enter-active,
.trfade-leave-active {
  transition: opacity .5s;
}
.trfade-enter,
.trfade-leave-to {
  opacity: 0;
}

.trfadegrow-enter-active,
.trfadegrow-leave-active {
  transition: .3s;
}
.trfadegrow-enter,
.trfadegrow-leave-to {
  opacity: 0;
  max-height: 0;
}

// Route transitions
.slide-right-enter-active,
.slide-right-leave-active {
  transition: 1s;
}

.slide-right-enter,
.slide-right-leave-to {
  transform: translateX(100%);
  position: relative;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: 1s;
}

.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(-100%);
  position: relative;
}
