$title-font: "Avenir", sans-serif;
$title-font-aux: "DIN", sans-serif;
$body-font: "Avenir", sans-serif;

$color-coral: coral;
$color-error: #bd2424;
$color-warning: #ff9500;
$color-black-soft: #0d0d0d;

$menu-height: 90px;
