@import './_variables.scss';
@import './_transitions.scss';
@import './mixins.scss';

// Helpers
.text--bold {
  font-weight: bold;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--error {
  font-size: 14px;
  color: $color-error;
}

.text--warning {
  font-size: 14px;
  color: $color-warning;
}

@for $i from 5 to 80 {
  .text--fs#{$i} {
    font-size: #{$i}px;
  }
}

.rt-link {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.form__row {
  margin: 15px 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 12px 19px;
  transition: .2s ;
  position: relative;
  cursor: pointer;
  background: transparent;
  color: white;
  margin: 15px 0;
  overflow: hidden;
  border: 1px solid black;

  &:after {
    content: '';
    position: absolute;
    background: black;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    z-index: -1;
    transition: .2s;
    left: -1px;
  }

  &:hover {
    color: black;
    background: white;

    &:after {
      left: 50%;
      transform: scaleX(0);
    }
  }

}

// * TITLES
.title__menu {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

// * MODAL
.modal__message {
  @include squared(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
