@import './_variables.sass'
@import './_fonts.sass'
@import './_mixins.sass'
@import './_buttons.sass'
@import './_animations.sass'

.fluid-container
  +flex(1, 0)
  flex-wrap: wrap
  justify-content: space-around

.rigid-container
  +flex(0, 0)

.image-holder
  img
    @extend %image-cover
    
.title-res
  font-size: 4vw
  @extend %title

.frcenter-all
  +flex(1, 1)

.frcenter-h
  +flex(1, 0)

.frcenter-v
  +flex(0, 1)

.input
  font-size: 17px
  padding: 10px 7px
  border: 1px solid black

  &:focus
    outline: 0

.box60
  width: 60%
  box-sizing: border-box

.box40
  width: 40%
  box-sizing: border-box

@media (max-width: 1300px)
  .title-res
    font-size: 5vw
    
@media (max-width: 900px)
  .title-res
    font-size: 48px
